<div class="container">
    <div *ngIf="productById else cargando">
    <form [formGroup]="updateProductForm" (submit)="Enviar()">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre</span>
            <input type="text" class="form-control" placeholder="Nombre" 
             aria-describedby="basic-addon1" formControlName="nombre" value="{{productById.nombre}}"/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Descripcion</span>
            <input type="text" class="form-control" placeholder="Descripcion" 
             aria-describedby="basic-addon1" formControlName="descripcion" value="{{productById.descripcion}}"/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Precio</span>
            <input type="text" class="form-control" placeholder="Precio" 
             aria-describedby="basic-addon1" formControlName="precio" value="{{productById.precio}}"/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Stock</span>
            <input type="text" class="form-control" placeholder="Stock" 
             aria-describedby="basic-addon1" formControlName="stock" value="{{productById.stock}}"/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Id de Marca</span>
            <input type="text" class="form-control" placeholder="MarcaId" 
             aria-describedby="basic-addon1" formControlName="marcaId" value="{{productById.marcaId}}"/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Id de tipo de producto</span>
            <input type="text" class="form-control" placeholder="TipoProductoId" 
             aria-describedby="basic-addon1" formControlName="tipoProductoId" value="{{productById.tipoProductoId}}"/>
        </div>
        <button class="btn btn-light" type="submit" >
            Modificar Producto
        </button>
    </form>
</div>
</div>

<ng-template #cargando>
    Cargando...
</ng-template>
