<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://web-static.wrike.com/blog/content/uploads/2015/12/errores-fatales-en-el-lanzamiento-de-un-producto.jpg?av=c15b07c7167f3b187a8ec309e3d76964" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body" *ngIf="producto else cargando">
              <h5 class="card-title">{{producto.nombre}}</h5>
              <p class="card-text">Descripcion: {{producto.descripcion}}</p>
              <p class="card-text">Precio: {{producto.precio | currency:"USD"}}</p>
              <p class="card-text">Marca: {{producto.nombreMarca}}</p>
              <p class="card-text">Tipo de Producto: {{producto.nombreTipoProducto}}</p>
              <select name="stock" id="stock" class="btn btn-secondary" [(ngModel)]="cantidadProducto" (change)="Select($any($event.target).value)">
                <option *ngFor="let item of stock" value={{item+1}}>
                    {{item+1}}
                </option>
              </select>
              <button class="btn btn-primary" (click)="AgregarItem()">
                Agregar al Carrito
              </button>
            </div>
          </div>
        </div>
      </div>
</div>

<ng-template #cargando>
    <h1>...Cargando</h1>
</ng-template>