<div class="container">
    <div *ngIf="clienteById else cargando">
    <form [formGroup]="updateClienteForm" (submit)="Enviar()">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre</span>
            <input type="text" class="form-control" placeholder="Nombre" 
             aria-describedby="basic-addon1" formControlName="nombre" value="{{clienteById.nombre}}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Apellido</span>
            <input type="text" class="form-control" placeholder="Apellido" 
             aria-describedby="basic-addon1" formControlName="apellido" value="{{clienteById.apellido}}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Contraseña</span>
            <input type="text" class="form-control" placeholder="Contraseña" 
             aria-describedby="basic-addon1" formControlName="contraseña" value="{{clienteById.contrasena}}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre de Usuario</span>
            <input type="text" class="form-control" placeholder="NombreUsuario" 
             aria-describedby="basic-addon1" formControlName="nombreUsuario" value="{{clienteById.nombreUsuario}}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Edad</span>
            <input type="text" class="form-control" placeholder="edad" 
             aria-describedby="basic-addon1" formControlName="edad" value="{{clienteById.edad}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Numero de Cedula</span>
            <input type="text" class="form-control" placeholder="NumeroCedula" 
             aria-describedby="basic-addon1" formControlName="numeroCedula" value="{{clienteById.numeroCedula}}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Email @</span>
            <input type="text" class="form-control" placeholder="Email" 
             aria-describedby="basic-addon1" formControlName="email" value="{{clienteById.email}}">
        </div>
        <button class="btn btn-light" type="submit" >
            Modificar Cliente
        </button>
    </form>
</div>
</div>

<ng-template #cargando>
    Cargando...
</ng-template>