<div class="container">
    <div *ngIf="tipoProductoById else cargando">
    <form [formGroup]="updateTipoProductoForm" (submit)="Enviar()">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre</span>
            <input type="text" class="form-control" placeholder="Nombre" 
             aria-describedby="basic-addon1" formControlName="nombre" value="{{tipoProductoById.nombre}}"/>
        </div>
        <button class="btn btn-light" type="submit" >
            Modificar TipoProducto
        </button>
    </form>
</div>
</div>

<ng-template #cargando>
    Cargando...
</ng-template>
