<div class="container overflow-hidden">
    <div class="row gy-5">
      <div class="col-6">
        <div class="p-3 border bg-light">
            <div class="p-3 border bg-light">
                <button class="btn" routerLink="marca">Marcas</button>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">
            <div class="p-3 border bg-light">
                <button class="btn" routerLink="tipoProducto">Tipos de Producto</button>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">
            <div class="p-3 border bg-light">
                <button class="btn" routerLink="producto">Productos</button>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">
            <div class="p-3 border bg-light">
                <button class="btn" routerLink="cliente">Clientes</button>
            </div>
        </div>
      </div>
    </div>
  </div>