<div *ngIf="clientes else cargando">
    <div class="row row-cols-6">
    <div class="m-3 card" style="width: 18rem;" *ngFor="let cliente of clientes">
        <img src="..." class="card-img-top" alt="...">            
        <div class="card-body">
            <h5 class="card-title">{{cliente.nombre}} {{cliente.apellido}}</h5>
          <p class="card-text">{{cliente.nombreUsuario}}</p>
          <a (click)="ObtenerxId(cliente.id)" class="btn btn-primary">Detalles</a>     
          <a [routerLink]="['/cliente-update/',cliente.id]" class="btn btn-primary">Modificar</a>    
          <a (click)="Delete(cliente.id)" class="btn btn-primary">Eliminar</a>     
        </div>
    </div>
    </div>
</div>

<ng-template #cargando>
 Cargando...
</ng-template>
